.reclamation-item {
    display: flex; /* Make list items flexible containers */
    flex-direction: column; /* Stack items vertically */
    padding: 10px;
  }
  
  .container {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: #fafafa;
  }


  
  .right-content {
    text-align: right; /* Alignement du texte à droite */
  }
  
  
  